<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Mi Madre es: </h2>
    <h3> {{ persona.name }} - Tiene {{persona.age}} años - Fecha de Nacimiento {{persona.year}}</h3>

    <h2>Mi Padre es: </h2>
    <h3> {{ persona1.name }} - Tiene {{persona1.age}} años - Fecha de Nacimiento {{persona1.year}}</h3>
    
    <h2>Mi Hermana es: </h2>
    <h3> {{ persona2.name }} - Tiene {{persona2.age}} años - Fecha de Nacimiento {{persona2.year}}</h3>
    
</body>
</html>
